body {
    font-family: Roboto;
    font-size: 12px;
}

.green {
    color: green;
}

.pasvertas {
    font-style: italic;
}

h1 span {
    color: blue;
}

.bold {
    font-weight: bold;
}